.invoice{
    border: 2px solid black;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.h1-invoice{
    text-align: center;
}
.h3-invoice-primary{
    float: right;
    margin-right: 2rem;
    font-size: 25px;
    border: 2px dotted black;
}
.invoice-details{
    display: flex;
    flex-direction: column;
}